.navbar {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand {
    padding: 10px;
    font-family: serif;
    font-size: 30px;
    background: #09a6c2;
}

.navbar-light .navbar-brand {
    color: white;
    font-weight: bold;
}

dl {
    background: lightgrey;
}

.display-4 {
    padding: 10px;
    font-family: serif;
    font-size: 35px;
    color: #17a2b8;
}

.col-md-7 {
    background:whitesmoke;
    position: relative;
    top: 10px;
    left: 3%;
    /* right: 30 px; */
}
.col-md-10 {
    background:whitesmoke;
    position: relative;
    top: 10px;
    /* left: 3%; */
    width: 100%;

    /* right: 30 px; */
}
.col-md-4 {
    background: whitesmoke;
    position: relative;
    top: 10px;
    right: 3%;
    /* left: 20px; */
}

.float-left {
    width: 50%;
}

blockquote {
    font-size: 12px;
    margin: 0 0 1rem;
    margin-top: 40px;
    margin-right: 10%;
    margin-bottom: 10px;
    margin-left: 5%;
}

/* visualizaiton styles */
#accordion {
    padding: 3%;
    background-color: lightgrey;
}

.btn-link {
    font-family: serif;
    font-size: 24px;
    color: #17a2b8;
}
/* comparison styles */
.comparison-charts {
    background: whitesmoke;
    /* position: relative; */
    max-width: 100%;

    padding: 3%;
}
.comparison-charts p{
    margin-top: 25px;
}
