.navbar-brand {
    padding: 10px;
    font-family: serif;
    font-size: 30px;
    background: #09a6c2;
}

.navbar-light .navbar-brand {
    color: white;
    font-weight: bold;
}

.display-4 {
    padding: 10px;
    font-family: serif;
    font-size: 30px;
    color: #17a2b8;
}